<div id="divo" class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/hero-image.png" class="hero-image d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
  </div>
  

  <div  class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">Grand choix de délicieuses idées de recettes</h1>
    <p class="lead">
      Explorez notre vaste sélection d'idées de recettes délicieuses, notamment; des desserts faciles, de délicieuses idées de dîners végétaliens et végétariens, de superbes recettes de pâtes, des pâtisseries rapides, des repas familiaux et des recettes sans gluten.
    </p>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
      <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
    </div>

  </div>

</div>


<!-- Categories Start -->


<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">


  <% if(categories != '') { %>
    <% categories.forEach(function(category, index) { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="img/<%- category.image %>" alt="">
                <div class="overlay">
                    <h2><%- category.name %></h2>
                    <a class="info" href="/categories/<%- category.name %>">Explore Categories</a>
                </div>
            </div>
        </div>
    <% }) %>
<% } %>


  <% if(categories != '') { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="hovereffect">
                <img class="img-responsive" src="img/view-all.jpg" alt="">
                <div class="overlay">
                    <h2>View All</h2>
                    <a class="info" href="/categories">Show</a>
                </div>
            </div>
        </div>
<% } %>

</div>
<!-- Categories End -->



<!-- Latest Start -->

<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Latest Recipes</h2>
    <a href="/explore-latest" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(food != '') { %>
      <% food.latest.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1" style="font-weight: bold; color: #333; font-size: 18px; text-align: center;"> <%= recipe.name %> </div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>

</section>
<!-- Latest End -->

<!-- Thai Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Thai Recipes</h2>
    <a href="/categories/Thai" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(typeof food.thai !== 'undefined' && food.thai.length > 0) { %>
      <% food.thai.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1" style="font-weight: bold; color: #333; font-size: 18px; text-align: center;"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- Thai End -->

<!-- Moroccco Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Morocco Recipes</h2>
    <a href="/categories/Morocco" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.morocco != '') { %>
      <% food.morocco.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1" style="font-weight: bold; color: #333; font-size: 18px; text-align: center;"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>

<!-- Turkey Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Turkey Recipes</h2>
    <a href="/categories/Turkey" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.turkey != '') { %>
      <% food.turkey.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1" style="font-weight: bold; color: #333; font-size: 18px; text-align: center;"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- American End -->

<!-- American Start -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>American Recipes</h2>
    <a href="/categories/American" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.american != '') { %>
      <% food.american.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1" style="font-weight: bold; color: #333; font-size: 18px; text-align: center;"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- American End -->

<!-- Chinese Recipes -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Chinese Recipes</h2>
    <a href="/categories/American" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.chinese != '') { %>
      <% food.chinese.forEach(function(recipe, index){ %>
      <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
        </div>
        <div class="pt-1" style="font-weight: bold; color: #333; font-size: 18px; text-align: center;"><%= recipe.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>
</section>
<!-- American End -->




















<!-- Submit - Start -->
<section class="px-4 py-5 my-5 text-center">
  <img src="/img/publish-recipe.png" class="d-block mx-auto mb-4 img-footer" alt="Publish your recipe for FREE today">
  <h1 class="display-5 fw-bold">Publish your recipe for FREE today</h1>
  <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>
    </div>
  </div>
</section>
 
<!-- Submit - End -->





